[v-cloak] {
  display: none
}

table {
  margin: auto
}

.tdgraph {
  width: 1280px;
  margin: auto;
}

.w-90 {
  width: 90%
}

.above {
  position: absolute;
  z-index: 1200;
}

.smallbox {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
